<div class="jumbotron jumbotron-fluid"
  style="background-image: url(/images/background-image-index.png); background-position: center 65%; background-size: cover; background-repeat: no-repeat;"
  role="main">
  <div class="container text-white text-center py-5 font-gotham ">
    <h2 style="font-size: 24px; font-weight: lighter;">PLATAFORMA DE DATOS ABIERTOS</h1>
      <h1 style="font-size: 48px;">PORTAL CIUDADANO</h1>
      <div><img src="/images/poweredby.png" style="height: 35px;"></div>
      <div class="row mt-5 justify-content-center">
        <div class="col-lg-9">
          <form class="main-search" method="get" action="{% url_for 'dataset.search' %}">
            <input type="search" class="main-search-input" placeholder="¿Qué datos estás buscando?"
              aria-label="{% block header_site_search_label %}¿Qué datos estás buscando?{% endblock %}" name="q"
              value="" autocomplete="off" />
            <button aria-label="Buscar" class="main-search-button" type="submit">
              <img src="/images/search-home.png" alt="">
            </button>
          </form>
        </div>
      </div>
  </div>
  <div style="height: 120px;display: flex;
  justify-content: center;
  align-items: center;" class="banner-bottom bg-green ">
    <div class="flex" style="width: 70%; gap: 10px; align-items: center;">
      <div style="font-size: 17px;  color: #ffffff; text-align: right; gap: 20px; width: 50%;">
        <p>En este repositorio ciudadano podrás publicar tus conjuntos de datos para que otras personas puedan
          consultar,
          interactuar y cruzarlos con otros datos.</p>
      </div>
      <div
        style="background-color: #ffffff;display: flex; align-items:center; justify-content: center;padding: 5px 0; gap: 15px; width: 300px; border-radius: 45px; height: 50px;">
        <img src="/images/cargar.png" width="25">
        <label style="color: #938F22; font-size: 20px;" class="clean-label">Carga tus datos</label>
      </div>
    </div>
  </div>
</div>

