{% set stats = h.get_site_statistics() %}

<div class="jumbotron jumbotron-fluid"
  style="background-image: url(/images/background-image-index.png); background-position: center 65%; background-size: cover; background-repeat: no-repeat;"
  role="main">
  <div class="container text-white text-center py-5 font-gotham ">
    <h2 style="font-size: 24px; font-weight: lighter;">PLATAFORMA DE DATOS ABIERTOS</h1>
      <h1 style="font-size: 48px;">PORTAL CIUDADANO</h1>
      <div><img src="/images/poweredby.png" style="height: 35px;"></div>
      <div class="row mt-5 justify-content-center">
        <div class="col-lg-9">
          <form class="main-search" method="get" action="{% url_for 'dataset.search' %}">
            <input type="search" class="main-search-input" placeholder="¿Qué datos estás buscando?"
              aria-label="{% block header_site_search_label %}¿Qué datos estás buscando?{% endblock %}" name="q"
              value="" autocomplete="off" />
            <button aria-label="Buscar" class="main-search-button" type="submit">
              <img src="/images/search-home.png" alt="">
            </button>
          </form>
        </div>
      </div>
  </div>
  <div style="height: 120px;display: flex;
  justify-content: center;
  align-items: center;" class="banner-bottom bg-green2 ">
    <div class="flex" style="width: 80%; gap: 15px; align-items: center; justify-content: center;">
      <div style="font-size: 17px;  color: #ffffff; text-align: right; gap: 20px; width: 50%;">
        <p>En este repositorio ciudadano podrás publicar tus conjuntos de datos para que otras personas puedan
          consultar,
          interactuar y cruzarlos con otros datos.</p>
      </div>
      <a href="/dataset/new"><div
        style="background-color: #ffffff;display: flex; align-items:center; justify-content: center;padding: 5px 0; gap: 15px; width: 300px; border-radius: 45px; height: 50px;" >
        <img src="/images/cargar.png" width="25">
        <label style="color: #938F22; font-size: 20px;" class="clean-label">Carga tus datos</label>
      </div></a>
    </div>
  </div>
</div>
<div style="background-image: url(/images/hexagonos.png); background-size: 100% auto; display: flex; flex-direction: column; padding: 20px 0; justify-content: center;
align-items: center;" >
  <div class="font-gotham" style="color: #585858; display: flex; gap: 10px;">
    <div style="font-size: 42px;">{{ stats.dataset_count }}</div>
    <div>
      <p style="font-size: 22px;">CONJUNTOS DE DATOS COLABORATIVOS <br> <b>CARGADOS POR CIUDADANOS</b></p>
    </div>
  </div>
  <a style="color: #938F22; font-size: 20px;" href="/dataset"><u>Consulta el repositorio</u></a>
</div>
<div style="background-image: url(/images/fondo-ondas.png); background-size: 100% auto; display: flex; flex-direction: column; padding: 20px 0; justify-content: center;
align-items: center;" >
  {% snippet "home/snippets/cdmx_featured_groups.html" %}
</div>