{% extends "page.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid"
    style="background-image: url(/images/bg-cruza-tu-info.png); background-size: cover; background-position: center; background-repeat: no-repeat; box-shadow: 0px 3.28661px 24.6496px rgba(0, 0, 0, 0.25);; display: flex; justify-content: center; align-items: center;">
    <div class="container font-gotham"
        style="color: #333328; display: flex; gap: 20px; width: auto; padding-top: 20px;">
        <p style="font-size: 40px; line-height: 1;">
            <a style="font-weight: 100;">Cruza tus Datos </a>
        </p>
    </div>
</div>
<div class="principal">
    {% set site_url = h.get_site_url() %}
    {% if site_url == 'https://dev.datosciudadanos.cdmx.gob.mx' %}
        <iframe src="https://services.datasketch.co/cdmx-cruza-info/" frameborder="0" style="height: 750px; width: 100%;"></iframe>
    {% else %}
        <iframe src="https://visdatosciudadanos.cdmx.gob.mx/app_direct_i/cdmx-cruza-info/_/" frameborder="0" style="height: 750px; width: 100%;"></iframe>
    {% endif %}
</div>
{% endblock %}