{% ckan_extends %}
{% set current_url = h.current_url() %}
{% set home_url = h.url_for("home.index") %}

{% block header_wrapper %} 

<nav class="container-fluid">
  <div class="flex flex-column font-inter justify-content-between align-items-center flex-sm-row">
    <a class="navbar-brand" href="{{ h.url_for('home.index') }}">
      <img src="/images/gob-cdmx.png" alt="{{ g.site_title }}" title="{{ g.site_title }}" style="height: 40px;">
      <img src="/images/separador.png" alt="separador" style="height: 35px;" class="separador">
      <img src="/images/logo.png" alt="logo ciudadano" style="height: 20px;">
      {% if current_url != home_url %}
        <img src="/images/sistema-ajolote.png" alt="" style="height: 25px;" class="d-block ml-auto d-sm-inline">
      {% endif %}
    </a>
    {% if not c.userobj %}
      <a href="{{ h.url_for('user.login') }}" class="btn btn-login d-inline-flex align-items-center text-white">
        <img width="10" src='/images/llave-inicio-sesion.png' alt="llave" />
        <span>Iniciar Sesion</span>
      </a>
    {% endif %}
  </div>
</nav>

{% if current_url != home_url %}
  {% block header_account %}
  <div class="account-masthead" style="background-color:#5C677C">
    <div class="container">
      {% block header_account_container_content %} {% if c.userobj %}
      <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
        <ul class="list-unstyled">
          {% block header_account_logged %} {% if c.userobj.sysadmin %}
          <li>
            <a href="{{ h.url_for('admin.index') }}" title="{{ _('Sysadmin settings') }}">
              <i class="fa fa-gavel" aria-hidden="true"></i>
              <span class="text">{{ _('Admin') }}</span>
            </a>
          </li>
          {% endif %}
          {% block header_account_profile %}
          <li>
            <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
              {{ h.user_image((c.user if c and c.user else ''), size=22) }}
              <span class="username">{{ c.userobj.display_name }}</span>
            </a>
          </li>
          {% endblock %}
          {% block header_dashboard %}
            <li>
              <a href="{{ h.url_for('dashboard.datasets') }}" title="{{ _("View dashboard") }}">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                <span class="text">{{ _('Dashboard') }}</span>
              </a>
            </li>
          {% endblock %}
          {% block header_account_settings_link %}
          <li>
            <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Profile settings') }}">
              <i class="fa fa-cog" aria-hidden="true"></i>
              <span class="text">{{ _('Profile settings') }}</span>
            </a>
          </li>
          {% endblock %} {% block header_account_log_out_link %}
          <li>
            <a href="{{ h.url_for('user.logout') }}" title="{{ _('Log out') }}">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              <span class="text">{{ _('Log out') }}</span>
            </a>
          </li>
          {% endblock %} {% endblock %}
        </ul>
      </div>
      {% else %}
      <nav class="account not-authed" aria-label="{{ _('Account') }}" style="background-color:#5C677C;
      ;">
        <ul class="list-unstyled">
          {% block header_account_notlogged %}
          <li>{% link_for _('Log in'), named_route='user.login' %}</li>
          {% if h.check_access('user_create') %}
          <li>{% link_for _('Register'), named_route='user.register', class_='sub' %}</li>
          {% endif %} {% endblock %}
        </ul>
      </nav>
      {% endif %} {% endblock %}
    </div>
  </div>
  {% endblock %}
{% endif %}

<!-- <nav id="nav-menu" class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-bars text-light pt-1"></i></span>
  </button>
  <div class="collapse navbar-collapse w-100 justify-content-center" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link mx-2{% if home_url == current_url %} active{% endif %}" aria-current="page" href="{{ home_url }}">Inicio</a>
      {% set dataset_url = h.url_for("dataset.search") %}
      <a class="nav-item nav-link mx-2{% if dataset_url == current_url %} active{% endif %}" href="{{ dataset_url }}">Conjuntos de datos</a>
      <a class="nav-item nav-link mx-2" href="{{ h.url_for('resource.read', id='victimas-en-carpetas-de-investigacion-fgj', resource_id='d543a7b1-f8cb-439f-8a5c-e56c5479eeb5') }}">Explora datos de carpetas</a>
      <a class="nav-item nav-link mx-2" href="https://plandeapertura.cdmx.gob.mx/" target="_blank">Plan de apertura</a>
    </div>
  </div>
</nav> -->




{% endblock %}