{% ckan_extends %}

{% block header_wrapper %}
{% block header_account %}{{ super() }}{% endblock %}

{% set current_url = h.current_url() %}
{% set home_url = h.url_for("home.index") %}

<nav class="container-fluid">
  <div class="flex flex-column font-inter justify-content-between align-items-center flex-sm-row">
    <a class="navbar-brand" href="{{ h.url_for('home.index') }}">
      <img src="/images/gob-cdmx.png" alt="{{ g.site_title }}" title="{{ g.site_title }}" style="height: 40px;">
      <img src="/images/separador.png" alt="separador" style="height: 35px;" class="separador">
      <img src="/images/logo.png" alt="logo ciudadano" style="height: 20px;">
      {% if current_url != home_url %}
        <img src="/images/sistema-ajolote.png" alt="" style="height: 25px;" class="d-block ml-auto d-sm-inline">
      {% endif %}
    </a>
    <a href="{{ h.url_for('user.login') }}" class="btn btn-login d-inline-flex align-items-center text-white">
      <img width="10" src='/images/llave-inicio-sesion.png' alt="llave" />
      <span>Iniciar Sesion</span>
    </a>
  </div>
</nav>
{% endblock %}