{% extends "page.html" %}

{% block content %}
<!-- <h1 data-h="{{ h }}">hola mundo</h1> -->
<div class="principal">
    <div class="flex">
        <img src="/images/Vector.png" alt="home" style="height: 20px;">
        <p style="color: #938F22; padding-left: 7px;">/ VALIDA TUS DATOS</p>
    </div>
    <h1 class="valida" style="text-align: center; padding-bottom: 20px; color: #938F22;">VALIDA TUS DATOS</h1>
    <div style="padding-left: 20px;">
        <p>La información que encontrarás aquí te ayudará a validar o mejorar la estructura de tus datos, lo cual tiene los siguientes beneficios:</p>
        <ol style="background-color: white;">
            <li>Podrás <b>cruzar tu información</b> con otra información del Repositorio Ciudadano de Datos Abiertos.</li>
            <li>Podrás <b>generar gráficas y mapas interactivos</b> de tu conjunto de datos con la herramienta de visualización.</li>
            <li>Tus datos podrán aprovecharse de manera más efectiva por otras personas que utilicen o colaboren en la plataforma.</li>
        </ol>
        <div class="alert alert-warning" role="alert" style="position: relative; padding-left: 40px; padding-right: 40px; margin-top: 30px; margin-bottom: 30px;">
            <img src="/images/warning.png" alt="warning" style="height: 20px; position: absolute; top: 13px; left: 7px;">
            <p><b>Advertencia</b><br>Si cargas un conjunto de datos que no cumple con las validaciones y características aquí descritas, es posible que los cruces de información no se realicen de manera correcta y tus visualizaciones no sean adecuadas.</p>
        </div>
        <p>A continuación encontrarás una guía que te ayudarán a mejorar y validar que la estructura de tus datos sea la adecuada.</p>
    </div>
    <div data-module="check-data" class="contenedor" style="background-color: #F2F2F2;">
        <div style="background-color: #ffffff; border: 1px solid #BFBFBF; padding: 20px; width: 30%; border-radius: 6.6px; margin: 60px 10px;">
            <h5 style="color: #938F22; text-align: center; font-weight: 600;">Guías y plantillas para mejorar tus datos</h5>
            <ul class="ul">
                <li class="li activo" style="margin-top: 10px;">
                    <div style="display: flex; gap: 3px;"><div style="display: flex; border-radius: 100%; background-color: #938F22; height: 20px; color: white; width: 20px; font-size: 12px; justify-content: center;">1</div><h6 style="font-size: 15px; font-weight: 500;">Plantilla general</h6></div>
                    <p style="font-size: 12px;"><i>Descarga la plantilla con recomendaciones de la estructura general de una base de datos.</i></p>
                    <div style="display: flex; justify-content: end; gap: 5px; font-size: 12px; align-items: center;"><i>Consultar</i><img src="/images/flecha.png" alt="flecha" style="height: 12px;"></div>
                </li>
                <p style="text-align: center; margin-bottom: 0px;"><img src="/images/next.png" alt="next" style="opacity: 50%; text-align: center; height: 18px; width: 25px;"></p>
                <li class="li">
                    <div style="display: flex; gap: 3px;"><div style="display: flex; border-radius: 100%; background-color: #938F22; height: 20px; color: white; width: 20px; font-size: 12px; justify-content: center;">2</div><h6 style="font-size: 15px; font-weight: 500;">Catálogos de referencia</h6></div>
                    <p style="font-size: 12px;"><i>Si tus datos tienen algún componente espacial valida que se ajuste a los catálogos.</i></p>
                    <div style="display: flex; justify-content: end; gap: 5px; font-size: 12px; align-items: center;"><i>Consultar</i><img src="/images/flecha.png" alt="flecha" style="height: 12px;"></div>
                </li>
                <p style="text-align: center; margin-bottom: 0px;"><img src="/images/next.png" alt="next" style="opacity: 50%; text-align: center; height: 18px; width: 25px;"></p>
                <li class="li">
                    <div style="display: flex; gap: 3px;"><div style="display: flex; border-radius: 100%; background-color: #938F22; height: 20px; color: white; width: 20px; font-size: 12px; justify-content: center;">3</div><h6 style="font-size: 15px; font-weight: 500;">Mejora tus fechas</h6></div>
                    <p style="font-size: 12px;"><i>Si tus datos tienen fechas o un componente temporal valida el formato.</i></p>
                    <div style="display: flex; justify-content: end; gap: 5px; font-size: 12px; align-items: center;"><i>Consultar</i><img src="/images/flecha.png" alt="flecha" style="height: 12px;"></div>
                </li>
                <h5 style="color: #938F22; text-align: center; margin-top: 30px; font-weight: 600;">Valida  y publica tus datos</h5>
                <li class="li">
                    <div style="display: flex; gap: 3px;"><div style="display: flex; border-radius: 100%; background-color: #938F22; height: 20px; color: white; width: 20px; font-size: 12px; justify-content: center;">4</div><h6 style="font-size: 15px; font-weight: 500;">Validador de datos</h6></div>
                    <p style="font-size: 12px;"><i>Valida tus datos con nuestra herramienta para asegurarte de que se pueden cruzar.</i></p>
                    <div style="display: flex; justify-content: end; gap: 5px; font-size: 12px; align-items: center;"><i>Consultar</i><img src="/images/flecha.png" alt="flecha" style="height: 12px;"></div>
                </li>
                <div style="display: flex; justify-content: center;">
                    <a href="/dataset/new"><button style="background-color: #938F22; border-radius: 4.2px; padding: 4px 15px 4px 15px; margin-top: 10px;"><span style="color: white; font-size: 14px;">Publica tus datos</span></button></a>
                </div>
            </ul>
        </div>
        <div class="subcontenedor">
            <div class="bloque activo">
                <h5 style="color: #C45633; padding-bottom: 20px;">PLANTILLA GENERAL</h5>
                <p>Para que tus datos sean más <b>fáciles de interpretar, procesar y utilizar</b> es importante seguir una serie de recomendaciones en cuanto a su estructura y el contenido de sus columnas.</p>
                <p><i>A continuación podrás descargar una plantilla general que te servirá como guía para subir tus datos.</i></p>             
                <div style="display: flex; justify-content: space-between; padding: 32px 80px;">
                    <div style="display: flex; gap: 50px; height: 22px;"><img src="/images/archivo-descarga.png" alt="archivo-descarga"><p><b>Plantilla general de datos</b></p></div>
                    <a href="/files/plantilla_general.xlsx"><button style="background-color: #938F22; border-radius: 4.2px; padding: 4px 10px 4px 10px;"><img src="/images/Union.png" alt="descargar" style="height: 10px;"><span style="color: white; font-size: 12px; padding-left: 5px;">Descargar</span></button></a>
                </div>
                    
                <p><i>Consulta también las siguientes recomendaciones generales para tus bases de datos:</i></p>
                <h6><b>Contenido de las columnas</b></h6>
                <ol type="1" style="background: none; padding-top: 20px;">
                    <li>
                        Para columnas de texto:
                        <ol type="a" style="background: none;">
                            <li>En la medida de lo posible, recomendamos que tus columnas de texto tengan un catálogo reducido de posibles valores. Revisa con detenimiento si existen faltas de ortografía o errores de escritura.</li>
                            <li>Las base de datos debe estar codificada en UTF-8 para evitar errores de interpretación de caracteres especiales (alternativamente puedes cargar tu info sin acentos).</li>
                        </ol>
                    </li>
                    <li>
                        Para columnas numéricas:
                        <ol type="a" style="background: none;">
                            <li>Los valores nulos de las variables numéricas deberán estar marcados como "NaN".</li>
                        </ol>
                    </li>
                    <li>
                        Para columnas de georeferenciación:
                        <ol type="a" style="background: none;">
                            <li>La georeferenciación debe estar en dos columnas separadas llamadas "latitud" y "longitud".</li>
                            <li>Las columnas de georeferencia de latitud y longitud deben ser de formato numérico; aquellas que especifiquen nombres de alcaldías, colonias, localidades o AGEBs deben ser en formato de texto.</li>
                        </ol>
                    </li>
                </ol>
                <h6><b>Estructura de la base</b></h6>
                <ol type="1" style="background: none;">
                    <li>
                        Nombre de las columnas:
                        <ol type="a" style="background: none;">
                            <li>En minúsculas, sin espacios ni acentos (sustituir los espacios por guiones bajos).</li>
                            <li>No pueden repetirse los nombres de las columnas.</li>
                        </ol>
                    </li>
                    <li>
                        Estructura de categorías:
                        <ol type="a" style="background: none;">
                            <li>Es recomendable que tus datos esten en formato largo (long) que ancho (wide).</li>
                        </ol>
                    </li>
                </ol>
                <p style="padding-top: 25px;"><i>Para más detalles sobre la estructura correcta de las bases puedes descargar la guía completa de validación de datos.</i></p>
                <a href="/files/guia_validacion_datos.pdf"><button style="background-color: #938F22; border-radius: 4.2px; padding: 4px 10px 4px 10px; margin-top: 20px;"><img src="/images/Union.png" alt="descargar" style="height: 10px;"><span style="color: white; font-size: 12px; padding-left: 5px;">Descargar Guía</span></button></a>                    
            </div>
            <div class="bloque">
                <h5 style="color: #C45633; padding-bottom: 20px;">CATÁLOGOS DE REFERENCIA</h5>
                <p>Los catálogos de referencia son es un documentos que contienen información sobre las opciones de los valores que puede tomar cada campo o atributo en una base de datos.</p>
                <p>A continuación podrás descargar la plantilla de datos geográficos:</p>
                <div style="display: flex; justify-content: space-between; padding: 10px 5px;">
                    <div style="display: flex; gap: 20px; height: 22px;"><img src="/images/archivo-descarga.png" alt="archivo-descarga"><p><b>Plantilla de datos geográficos
                    </b></p></div>
                    <a href="/files/plantilla_geografica.xlsx"><button style="background-color: #938F22; border-radius: 4.2px; padding: 4px 10px 4px 10px;"><img src="/images/Union.png" alt="descargar" style="height: 10px;"><span style="color: white; font-size: 12px; padding-left: 5px;">Descargar</span></button></a>  
                </div>
                <h6 style="color: #938F22; padding: 20px 0px;"><b>Desagregaciones geográficas de la Ciudad de México</b></h6>
                <p>La Ciudad de México puede dividirse en distintas regiones geográficas dependiendo del uso y origen de los datos. Ajustar tus datos a los catálogos que se presentan a continuación te permitirá hacer tu información comparable con la información disponible en el Portal de Datos Abiertos.</p>
                <p><i>Descarga los siguientes catálogos de referencia para ajustar tu información.</i></p>
                <div style="display: flex; justify-content: space-between; padding: 10px 5px;">
                    <div style="display: flex; gap: 20px; height: 22px;"><img src="/images/archivo-descarga.png" alt="archivo-descarga"><p><b>Catálogo de Alcaldías de la Ciudad de México</b></p></div>
                    <a href="/files/catalogo_alcaldias.xlsx"><button style="background-color: #938F22; border-radius: 4.2px; padding: 4px 10px 4px 10px;"><img src="/images/Union.png" alt="descargar" style="height: 10px;"><span style="color: white; font-size: 12px; padding-left: 5px;">Descargar</span></button></a>  
                </div>
                <div style="display: flex; justify-content: space-between; padding: 10px 5px;">
                    <div style="display: flex; gap: 20px; height: 22px;"><img src="/images/archivo-descarga.png" alt="archivo-descarga"><p><b>Catálogo de Colonias de la Ciudad de México</b></p></div>
                    <a href="/files/catalogo_colonias.xlsx"><button style="background-color: #938F22; border-radius: 4.2px; padding: 4px 10px 4px 10px;"><img src="/images/Union.png" alt="descargar" style="height: 10px;"><span style="color: white; font-size: 12px; padding-left: 5px;">Descargar</span></button></a>  
                </div>
                <div style="display: flex; justify-content: space-between; padding: 10px 5px;">
                    <div style="display: flex; gap: 20px; height: 22px;"><img src="/images/archivo-descarga.png" alt="archivo-descarga"><p><b>Catálogo de Localidades de la Ciudad de México</b></p></div>
                    <a href="/files/catalogo_localidades.xlsx"><button style="background-color: #938F22; border-radius: 4.2px; padding: 4px 10px 4px 10px;"><img src="/images/Union.png" alt="descargar" style="height: 10px;"><span style="color: white; font-size: 12px; padding-left: 5px;">Descargar</span></button></a>  
                </div>
                <div style="display: flex; justify-content: space-between; padding: 10px 5px;">
                    <div style="display: flex; gap: 20px; height: 22px;"><img src="/images/archivo-descarga.png" alt="archivo-descarga"><p><b>Catálogo de AGEB's de la Ciudad de México</b></p></div>
                    <a href="/files/catalogo_AGEB.xlsx"><button style="background-color: #938F22; border-radius: 4.2px; padding: 4px 10px 4px 10px;"><img src="/images/Union.png" alt="descargar" style="height: 10px;"><span style="color: white; font-size: 12px; padding-left: 5px;">Descargar</span></button></a>  
                </div>
                <p><i>Para más detalles sobre los catálogos de referencia puedes descargar la guía completa de validación de datos.</i></p>
                <a href="/files/guia_validacion_datos.pdf"><button style="background-color: #938F22; border-radius: 4.2px; padding: 4px 10px 4px 10px; margin-top: 20px;"><img src="/images/Union.png" alt="descargar" style="height: 10px;"><span style="color: white; font-size: 12px; padding-left: 5px;">Descargar Guía</span></button></a>
            </div>
            <div class="bloque">
                <h5 style="color: #C45633; padding-bottom: 20px;">MEJORA TUS FECHAS</h5>
                <p>Como un <b>estándar</b> para el repositorio, es importante que las columnas de fecha en tus datos tengan el <b>formato</b> año-mes-día (<b>aaaa-mm-dd</b>), esto permitirá generar gráficas de lineas de tendencia (si así se desea) y cruzar tu base con otros datos del Repositorio Ciudadano de Datos Abiertos que también tengan un componente temporal. </p>
                <p><i>Consulta el siguiente video para más detalles.</i></p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/f8f-mRiDwdA?si=riIlQEfOJGkGmxvf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <p>&nbsp</p>
                <p>Si tus datos no están desagregados de manera diaria sino por otra frecuencia temporal (semana, mensual, etc.) te recomendamos incluir una columna con la fecha de cierre de periodo en formato aaaa-mm-dd como referecnia para el visualizador.</p>
                <p><i>Para más detalles sobre los formatos de fechas puedes descargar la guía completa con ejemplos.</i></p>
                <a href="/files/plantilla_fechas.xlsx"><button style="background-color: #938F22; border-radius: 4.2px; padding: 4px 10px 4px 10px; margin-top: 20px;"><img src="/images/Union.png" alt="descargar" style="height: 10px;"><span style="color: white; font-size: 12px; padding-left: 5px;">Descargar guía de fechas</span></button></a>
            </div>
            <div class="bloque">
                <h5 style="color: #C45633; padding-bottom: 20px;">VALIDADOR DE DATOS</h5>
                <p>Aqui podrás utilizar nuestra <b>herramienta de validación</b> para obtener un diagnóstico de qué tan bien estructurado se encuentra tu archivo.</p>
                <p>En caso de que tus datos no se ajusten completamente a los estándares descritos en esta guía, es posible que tus datos no se visualicen correctamente y no puedas cruzarlos con la información del Repositorio Ciudadano de Datos Abiertos.</p>
                <iframe src="https://visdatosciudadanos.cdmx.gob.mx/app_direct_i/cdmx-valida-info/_/" frameborder="0" style="height: 550px; width: 100%;"></iframe>
                <!-- <a href="/dataset/new"><button style="background-color: #938F22; border-radius: 4.2px; padding: 4px 10px 4px 10px; margin: 80px 100px;"><span style="color: white; font-size: 12px; padding-left: 5px;">Publicar datos</span></button></a> -->
                <p>En caso de que el resultado de la validación no sea favorable, es altamente recomendable hacer las modificaciones necesarias de acuerdo con esta guía y validar de nuevo tu archivo.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}