{% ckan_extends %}

{% block package_basic_fields_title %}
<h2><u>INFORMACIÓN GENERAL</u></h2>
<p>Registra la información general de tu conjunto de datos. Esta información ayudará a que las personas puedan encontrar y entender mejor la información que cargaste al Repositorio Ciudadano de Datos Abiertos.</p>
{{super()}}
<!-- <p>{{ h.groups_available() }}</p>
<div class="form-group control-medium">
  <label for="groups" class="form-label">Categorías</label>
  <select name="groups__0__id" id="groups" data-module="autocomplete" class="control">
    <option value=""></option>
    {% for group in h.groups_available() %}
      <option value="{{ group.id }}">{{group.title}}</option>
    {% endfor %}
  </select>
</div> -->
{% endblock %}

{% block package_basic_fields_license %}
<div class="alert alert-warning" role="alert">
  <p><i class="fas fa-info-circle"></i> Al cargar tu conjunto de datos aceptas que la información contenida sea de uso público de acuerdo con la licencia CC-BY-4 definidad por Creative Commons Atribution. Puedes encontrar más información en opendefinition.org</p>
</div>
{% endblock %}

{% block package_basic_fields_org %}
  {{ super() }}
{% endblock %}